name: CI/CD for TinyURL

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

#      - name: Run Tests
#        run: mvn test

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tinyurl-service:${{ github.sha }} .

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/tinyurl-service:${{ github.sha }}

      - name: Tag and Push Latest
        if: github.ref == 'refs/heads/main'
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/tinyurl-service:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/tinyurl-service:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/tinyurl-service:latest